
.menu { 
    margin: 0; 
    padding: 0; 
    list-style-type: none; 
    display: flex; 
    flex-wrap: wrap; 
   } 
   .menu__link{ 
    display: block; 
    padding: 10px; 
    margin: 5px; 
    background-color: rgb(244, 245, 227); 
    color: rgb(29, 67, 46); 
    text-decoration: none; 
   }   
     
    .header__button{   
    width: 80px; 
    display: block;
    padding: 10px;
    margin: 5px;
    background-color: rgb(244, 245, 227);
    color: rgb(29, 67, 46);
    text-decoration: none;
    transition: background-color 0.3s;
    border: 2px solid  rgb(29, 67, 46);
    border-radius: 5px;
    margin-right: 20px;
}

   .header__title{ 
    font-size: 500%;
    margin: 10; 
   } 
   
   .header{ 
    display: flex; 
    flex-wrap: wrap; 
    gap: 10px; 
    justify-content: space-between; 
    padding-top: 20px; 
    padding-bottom: 20px; 
   } 
   .header__menu{ 
    width: 100%; 
    flex-shrink: 0; 
   }
   .header {
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    flex-wrap: wrap;
  
    background:  #f7f7f7;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  

.header__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
   }

.header__link{
    display: block;
    padding: 10px;
    margin: 5px;
    background-color: rgb(244, 245, 227);
    color: rgb(29, 67, 46);
    text-decoration: none;
}   


